extends layout

block content
  main.buy-page
    h1= heading
    p.buy-subtitle= subtitle

    if listings && listings.length
      section.product-grid
        each listing in listings
          article.product-card
            a(href=`/product/${listing.id}`)
              img(src=listing.imageUrl || '/brown-road-bike-free-png.png', alt=listing.name)
            h2
              a(href=`/product/${listing.id}`)= listing.name
            p.product-price= `$${listing.price}`
            p.product-condition= `Condition: ${listing.condition}`
            p.product-location= "Within 5 Miles of: " + listing.location
            
      
                                    
    else
      p No items listed yet. Be the first to sell!
